.recipe-section-rec {
  margin-top: -20px;
  background: #f0c49e;
  padding-bottom: 30px;
}

.instance-h2-styling {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: "30px";
  font-family: "georgia";
  color: black;
}
.p-instance-pages {
  font-size: 23px;
  font-family: "gill sans";
}
.recipe-info-rec {
  padding: 30px 30px 30px 30px;
  margin: 0px 20px -20px 20px;
  border-bottom: dotted 7px #fff;
}

.diet-section-rec-2 {
  padding-top: 15px;
  background: f5dfa9;
  padding-bottom: 15px;
  margin: 0px 20px -20px 20px;
  border-bottom: dotted 7px #fff;
}
.wrapper2-rec {
  padding: 30px 30px 30px 30px;
  background: #fcdcc0;
}
.wrapper-rec {
  background: #fcdcc0;
}
.ings-section-rec-2 {
  padding-top: 15px;
  background: #f0c49e;
  padding-bottom: 15px;
}
.recIMG {
  transition: transform 0.8s ease-in-out;
}
.recIMG:hover {
  transform: scale(1.1);
}
.contents-ing {
  font-style: "bold";
  color: #75360f;
}

.aForRec:hover {
  color: #c94114;
  font-size: 18px;
}
.aForRec {
  transition: font-size 0.2s ease-in-out;
  color: #96452a;
}
.aForRec2 {
  color: #96452a;
  transition: font-size 0.6s ease-in-out;
  font-size: 25px;
}

.aForRec2:hover {
  color: #c94114;
  font-size: 27px;
}

.contents2-ing {
  font-style: "bold";
  color: rgb(66, 66, 50);
}
