  .card {
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    margin: 15px 15px 15px 15px;
    display: flex;
    border: none;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px;
  }
  