.ing-section-ing{
    background:#ffc7a0;
    margin-top: -20px;
    padding-bottom: 15px;
}

.ing-info-ing{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.diet-section-ing{
    padding-top: 15px;
    background: #ffd8bb;
    padding-bottom: 15px;
}

.recipe-section-ing{
    padding-top: 15px;
    background: #ffc7a0;
    padding-bottom: 15px;
}

.contents-ing{
    font-family: "Palatino";
    font-style: "bold";
    color:rgb(85, 10, 95);
}