.ing-section-ing {
  margin-top: -20px;
  background: #e0bead;
  padding-bottom: 30px;
}

.instance-h2-styling {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: "30px";
  font-family: "georgia";
  color: black;
}
.p-instance-pages {
  font-size: 23px;
  font-family: "gill sans";
}
.ing-info-ing {
  padding: 30px 30px 30px 30px;
  margin: 0px 20px -20px 20px;
  border-bottom: dotted 7px #fff;
}

.diet-section-ing-2 {
  padding-top: 15px;
  background: #f2d8cb;
  padding-bottom: 15px;
  margin: 0px 20px -20px 20px;
  border-bottom: dotted 7px #fff;
}
.wrapper {
  padding: 30px 30px 30px 30px;
  background: #f2d8cb;
}
.wrapper2 {
  background: #e0bead;
}
.recipe-section-diet {
  padding-top: 15px;
  background: #e0bead;
  padding-bottom: 15px;
}
.ingIMG {
  transition: transform 0.8s ease-in-out;
}
.ingIMG:hover {
  transform: scale(1.03);
}
.contents-ing {
  font-style: "bold";
  color: #75360f;
}

.aForIng:hover {
  color: #b57045;
  font-size: 18px;
}
.aForIng {
  transition: font-size 0.2s ease-in-out;
  color: #75360f;
}

.contents2-ing {
  font-style: "bold";
  color: rgb(66, 66, 50);
}
