
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <style>
      .all {
        background-color: rgba(7, 69, 12, 0.4);
      }
      hr {
        background-color: black;
        height: 2px;
        border: none;
      }
      a{
        color:white
      }
    </style>
  </head>
  <body>
    <div class="all">
      <div
        style="
          font-size: 40px;
          padding: 30px 0px 0px 60px;
          font-family: gill sans;
          font-weight: bold;
          color:#084719;
        "
      >
       {{diet["title"]}}
      </div>
      <hr />
      <div class="row">
        <div
          class="col-sm-8 col-md-6 col-lg-6"
          style="padding-left: 60px; padding-right: 60px"
        >
          <div
            style="
              text-align: center;
              font-family: gill sans;
              color: black;
              background:  rgba(7, 69, 12, 0.5);
              outline: 3px dashed #07450c;
              outline-offset: -10px;
              margin-top: 60px;
              padding: 20px 20px 20px 20px;
            "
          >
            <div
              class="mb-1"
              style="
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
              "
            >
              DESCRIPTION: 
            </div>
            <div class="fs-5 mb-5">
              <span style=" font-size: 17px"
                >{{diet["pagedesc"]}}</span
              >
            </div>
            <h1 class="display-5 fw-bolder"></h1>

            <p class="lead" style="font-weight: bold">PROHIBITED FOODS</p>
            <p style="margin-top:-10px;font-size:19px;">{{diet["prohibits"]}}</p><br />
            <p style="font-size: 23px; font-weight: bold; margin-top: 18 px">
              Related Recipes
            </p><p style="font-size:20px">Some recipes that conform to the {{diet["title"]}} diet group are the 
            {% if diet["recipes"] == [] %}
            <p>! No recipes exist !</p>	
        {% else %}
            {% for i in diet["recipes"] %}
                {% if loop.last %}
                    and the <a href="../../recipes/{{i}}">{{i}}</a>.
                {% else %}
                    <a href="../../recipes/{{i}}">{{i}}</a>, 
                {% endif %}
            {% endfor %}
        {% endif %}</p>
          </div>
          <div
            style="
              text-align: center;
              font-family: gill sans;
              color: black;
            background:  rgba(56, 166, 86, 0.4);
              outline: 3px dashed #07450c;
              outline-offset: -10px;
              margin-top: 50px;
              padding: 20px 20px 20px 20px;
            "
          >
            <h1 style="font-size: 23px; font-weight: bold; margin-top: 18 px">
              Popularity:
            </h1> <p style="font-size:20px; margin-bottom:-5px">{{diet["percentage"]}}</p><br><br>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-6">
          <div class="text-center">
            <img src="{{diet["image"]}}" class="rounded" alt="..."
            style="width: 450px; margin-top: 60px" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>