<!DOCTYPE html>
<html>
    <head></head> 
    <body>
        <p>I love ingredients like {{ingredient["title"]}}</p>
        <p>Some recipes that include {{ingredient["title"]}} are the
        {% if ingredient["recipes"] == [] %}
            <p>! No recipes exist !</p>	
        {% else %}
            {% for i in ingredient["recipes"] %}
                {% if loop.last %}
                    and the <a href="../../recipes/{{i}}">{{i}}</a>.
                {% else %}
                    <a href="../../recipes/{{i}}">{{i}}</a>, 
                {% endif %}
            {% endfor %}
        {% endif %}</p>
        <p>Here is a pretty picture of it.</p>
        <img src={{ingredient.image}} alt="the picture was too pretty to show"/>
    </body>
</html>