<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <style>
      .all {
        background-color: rgba(196, 145, 69, 0.4);
      }
      hr {
        background-color: black;
        height: 2px;
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="all">
      <div
        style="
          font-size: 40px;
          padding: 30px 0px 0px 60px;
          font-family: gill sans;
          font-weight: bold;
        "
      >
        {{ingredient["title"]}}
      </div>
      <hr />
      <div class="row">
        <div
          class="col-sm-8 col-md-6 col-lg-6"
          style="padding-left: 60px; padding-right: 60px"
        >
          <div
            style="
              text-align: center;
              font-family: gill sans;
              color: black;
              background: rgba(176, 96, 39, 0.3);
              outline: 3px dashed #b06027;
              outline-offset: -10px;
              margin-top: 60px;
              padding: 20px 20px 20px 20px;
            "
          >
            <div
              class="mb-1"
              style="
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
              "
            >
              Estimated cost: 
            </div>
            <div class="fs-5 mb-5">
              <span style="text-transform: uppercase; font-size: 17px"
                >{{ingredient["estimatedcost"]}}</span
              >
            </div>
            <h1 class="display-5 fw-bolder"></h1>

            <p class="lead" style="font-weight: bold">In what aisle can I find this ingredient at the store?</p>
            <p style="margin-top:-10px;font-size:19px;">The {{ingredient["aisle"]}} aisle</p><br />
            <p style="font-size: 23px; font-weight: bold; margin-top: 18 px">
              Related Recipes
            </p><p>Some recipes that include {{ingredient["title"]}} are the
        {% if ingredient["recipes"] == [] %}
            <p>! No recipes exist !</p>	
        {% else %}
            {% for i in ingredient["recipes"] %}
                {% if loop.last and not loop.first%}
                    and the <a href="../../recipes/{{i}}">{{i}}</a>.
                {% elif loop.last and loop.first%}
                <a href="../../recipes/{{i}}">{{i}}</a>.
                    {% else %}
                    <a href="../../recipes/{{i}}">{{i}}</a>, 
                {% endif %}
            {% endfor %}
        {% endif %}</p>
          </div>
          <div
            style="
              text-align: center;
              font-family: gill sans;
              color: black;
              background: rgba(207, 167, 107, 0.4);
              outline: 3px dashed #b06027;
              outline-offset: -10px;
              margin-top: 50px;
              padding: 20px 20px 20px 20px;
            "
          >
            <h1 style="font-size: 23px; font-weight: bold; margin-top: 18 px">
              Total calories:
            </h1> {{ingredient["calories"]}} cal<br><br>

            <p
              style="font-size: 23px; font-weight: bold; margin-top: 18 px"
              >Weight per serving:</p
            > <p>{{ingredient["weightperserving"]}}</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-6">
          <div class="text-center">
            <img src="{{ingredient["image"]}}" class="rounded" alt="..."
            style="width: 450px; margin-top: 60px" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
