<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    .all{
        background-color:rgba(214, 165, 91, 0.1);
    }
    hr{
        background-color: black;
        height:2px;
        border:none;
    }
</style>  
</head>
  <body>
    <div class="all">
    <div  style="font-size:40px; padding: 30px 0px 0px 60px; font-family: gill sans; font-weight:bold">{{recipe["title"]}}</div><hr>
 <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left:60px; padding-right:60px">
            <div style=" text-align: center;
              font-family: gill sans;
              color: black;
              background: rgba(214, 165, 91, 0.5);
              outline: 3px dashed #cfaa70;
              outline-offset: -10px;
              margin-top:60px;
              padding: 20px 20px 20px 20px">
            <div
              class="mb-1"
              style="
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
              "
            >
              Yield: {{recipe["yield"]}} servings
            </div>
            <div class="fs-5 mb-5">
              <span style="text-transform: uppercase; font-size: 17px"
                >cuisine type: {{recipe["cuisinetype"]}}</span
              >
            </div>
            <h1 class="display-5 fw-bolder"></h1>

            <p class="lead" style="font-weight: bold">
              This dish belongs to the following diet groups:
            </p>
            <p>
              {% for item in recipe["dietgroup"] %} {{ item }}{% if not
              loop.last %}, {% endif %}{% endfor %}
            </p>
            <br>
            <p style="font-size: 23px; font-weight: bold; margin-top: 18 px">
            TOTAL CALORIES: {{ recipe["calories"]|float|round }}
            </p>
            </div>
            <div style=" text-align: center;
              font-family: gill sans;
              color: black;
              background: rgba(227, 198, 154, 0.5);
              outline: 3px dashed #cfaa70;
              outline-offset: -10px;
              margin-top:50px;
              padding: 20px 20px 20px 20px">
            <h1 style="font-size: 23px; font-weight: bold; margin-top: 18 px">
              INGREDIENTS
            </h1>
            <p>
              {% for item in recipe["ingredients"] %} • {{ item }}{% if not
              loop.last %}<br />
              {% endif %}{% endfor %}
            </p>
           <a href="{{recipe["url"]}}" style="font-size: 23px; font-weight: bold; margin-top: 18 px">LINK TO RECIPE</a>
        </div>  
        </div>
         <div class="col-sm-4 col-md-6 col-lg-6">
    <div class="text-center">
            <img src="{{recipe["image"]}}"
            class="rounded" alt="..." style = "width: 450px; margin-top:60px"/>

        </div>  
    </div>
        </div>
        </div>
  </body>
</html>
