.card-container {
  width: 425px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  margin: 15px 15px 15px 15px;
  display: flex;
}

.image-container img {
  overflow: hidden;
  height: 300px;
  object-fit: cover;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}

.card-title {
  font-size: 24px;
  font-family: georgia;
  text-align: center;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.card-body {
  margin-top: -12px;
  font-size: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 0/5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  border-radius: 3px;
}

.btn button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale();
}

a {
  text-transform: uppercase;
  color: #189cfc;
  text-decoration: none;
  font-weight: bold;
}
